<div class="container text-center">
  <h1>Based on statistically accurate data, you are </h1>
  <h3> <%= @user.gender %> </h3>

  <div class="correct">
    <h4>Is this correct?</h4>
    <div class="btn">
    <%= button_to "Yes", {action: 'correct_guess', :id => @user.id, :gender => @user.gender}, :class => "btn btn-success" %>
    <br>
    <%= button_to "No", {action: 'incorrect_guess', :id => @user.id}, :class => "btn btn-success" %>
    </div>
  </div>
</div>
