<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span>Guess The Gender</span></a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="body text-center">
    <h1>This program can guess your gender by just your height and weight. </h1>
    <%= render 'form' %>
  </div>
</div>